@font-face {
    font-family: font-title;
    src: url(Namecat.otf);
}

body{
    background-color: #F5F5F5;
}

.sidebar-container {
    height: 100vh;
    border-radius: 0 30px 0 0;
    background-color: #3559e0;
}

.sidebar{
    width: auto;
}

 .icon ,.logout{
    border-radius: 20px !important;
    transition: background-color 0.3s ease;
}

.icon:hover, .logout:hover {
    background-color: #ffffff20;
    border-radius: 20px !important;
    transition: background-color 0.3s ease;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    color: white;
    background-color: #ffffff20;
    border-radius: 20px;
}

.title{
    font-family: font-title;
    font-size: 50px;
    color:#3559E0 ;
}
.date,.positions,.name{
    color:#3559E0 ;
}
.search-bar{
    height: 50px;
    border:1px solid #3559E0;
    font-size: larger;
    border-radius: 10px;
}
.rounded{
    width: 800px;
}
.admin{
    background-color: #FFFFFF;
    border-radius: 20px;
    height: 120px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adjust the values for the shadow */
}
.profile{
    width: 100px;
    border-radius: 15px;
}
tr{
    color: #3559E0;
}
th{
    font-size: 1.1rem;
    font-weight: 700;
    color: #3559E0;
}
.edit{
    background-color: #3559E0;
    border: none;
    height: 30px !important;
    padding-top: 5px;
}
.trash{
    background-color: #FF0000;
    border: none;
    height: 30px !important;
    padding-top: 5px;
}
.btn-warning{
    height: 30px !important;
    padding-top: 4px;
}
.btn{
    border-radius: 7px;
}
.search-bar{
    height: 38px;
    max-width: 45vw;
}
.table-responsive{
    max-height: 58vh;
    overflow: auto;
}
.table-responsive::-webkit-scrollbar {
    display: none;
}
.table-responsive {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.form-label{
    color: #3559E0;
    /* font-size: 1.1rem; */
    font-weight: 700;
}

.form-control{
    border-color: #3559E0;
    border-radius: 10px;
}
.form-control[readonly] {
    background-color: #FFFFFF;
}
.btn-search{
    position: absolute;
    background: none;
    border: none;
    right: 39vw;
    top: 0px;
    height: 38px;
    width: 45px;
}
.form-check{
    margin-left: 12px;
}
thead.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    z-index: 1000; /* Ensure it's above other content */
}
.sticky th {
    color: #3559E0;
}
.tbody td {
    color: #3559E0;
}
.dropdown-item:hover{
    color: #3559E0;
}
.gap__20{
    gap: 38px;
}
.search-bar::placeholder{
    color: #3559E0;
}
.form-control::placeholder{
    color: #3559E0;
}
.form-control-lg{
    border-color: #687a8a !important;
}
.form-control-lg::placeholder{
    color: #687a8a;
}